.adminmenu_search li ul{
	position: absolute;
	display: block;
}
.advance_search_box {
	width: 150px !important;
}
.search_list {
	float: right;
	margin-top: 1px !important;
}
.search_list li, .mobile_search_list li{
	display: block;
	float: none !important;
	border: 1px solid #fff;
}
.search_list li, .search_list li a, .search_list li a p, .mobile_search_list li, .mobile_search_list li a, .mobile_search_list li a p{
	line-height: 20px !important;	
}
.search_list li a, .mobile_search_list li{
    background-color: #0073aa !important;
    color: #ffffff;
}
.search_list li a, .mobile_search_list li{
	height: 40px !important;
	padding: 5px !important;
}
.search_list li a .list_status, .mobile_search_list li a .list_status{
	float: right;
	text-transform: uppercase !important;
}
.search_list li a .list_status, .search_list li a .list_type, .mobile_search_list li a .list_status, .mobile_search_list li a .list_type {
	font-size: 10px !important;
}
.search_list li a:hover, .search_list li a.count_post, .mobile_search_list li.count_result {
	background-color: #23282d !important;
	color: #fff;
}
.search_list li a.count_post, .mobile_search_list li.count_result {
	text-align: center;
}
.search_list li a.count_post{
	height: 20px !important;
}
.search_list li a.count_post, .search_list li a.count_post .result-count, .mobile_search_list li a.count_post, .mobile_search_list li a.count_post .result-count{
	font-weight: bold !important;
}
.search_result {
	width: 250px !important;
	word-wrap: break-word;
}
.image_thumb {
	float: left;
	margin-right: 5px !important;
	width: 40px !important;
	height: 40px !important;
}
.result-count {
	line-height: normal !important;
}
.search_list > li:nth-child(10) ~ li, .mobile_search_list > li:nth-child(10) ~ li {
	/* this rule targets the rows after the 10th .row */
    display: none;
}
.search_list li:nth-last-child(1), .mobile_search_list li:nth-last-child(1) { 
    display: block !important;
}
a.search_result {
    font-weight: bold !important;
    text-transform: capitalize !important;
    letter-spacing: 1px !important;
    font-size: 14px !important;
}
.list_type, .list_status {
    letter-spacing: .5px !important;
}
.list_type {
    text-transform: capitalize !important;
}

@media screen and (max-width: 600px) {
	.sf-m {
		padding-top: 50px;
	}
	#wpbody {
		padding-top: 0 !important;
	}
}
@media screen and (min-width: 600px) and (max-width: 782px) {
	#search_fields {
		margin-top: 5px;
	}
}
@media screen and (max-width: 782px) {
	 #wp-toolbar>ul>li#wp-admin-bar-search_form{
	 	display: block !important;
	 }
	 .sf-d {
	 	display: none;
	 }
	.advance_search_box {
		width: 50px !important;
		top: 4px;
	}
	#wp-admin-bar-search_form.hover #post_search_box {
		display: block;
	}
	.sf-m {
		margin-right: 12px;
	}
	#search_fields {
		height: 40px;
		width: 100%;
	}
	.mobile_search_list li:last-child a.count_post {
	    color: inherit;
	    text-decoration: none;
	}
	.mobile_search_list, .mobile_search_list li, .list_type, .list_status {
    	margin: 0;
	}
	.mobile_search_list li a {
    	font-size: 16px;
	}
	.mobile_search_list li.count_result{
		height: 25px !important;
	}
	.dashicons-search {
		font: 40px/1 dashicons !important;
		font-family: dashicons !important;
		color: #ccc; 
	}
	.search_result {
	    color: #fff;
	    text-decoration: none;
	}
	.list_type, .list_status {
	    font-weight: normal;
	}
}
@media screen and (min-width: 783px) {
	 .dashicons-search, .sf-m {
	 	display: none !important;
	 }
	 input#post_search_box {
	    width: 100%;
	    text-indent: 10px;
	}
}
